<div class="subformulario" [formGroup]="formGroup">
  <h3>Dados Pessoais</h3>

  <div class="campo">
    <label for="nome">Nome:</label>
    <input
      id="nome"
      type="text"
      formControlName="nome"
      placeholder="Digite seu nome completo"
    />
    <span
      class="erro"
      *ngIf="formGroup.get('nome')?.invalid && formGroup.get('nome')?.touched"
    >
      Campo obrigatório
    </span>
  </div>

  <div class="campo">
    <label for="cpf">CPF:</label>
    <input
      id="cpf"
      type="text"
      formControlName="cpf"
      placeholder="000.000.000-00"
    />
    <span
      class="erro"
      *ngIf="formGroup.get('cpf')?.invalid && formGroup.get('cpf')?.touched"
    >
      Campo obrigatório
    </span>
  </div>
</div>
